body {
  background-color: #f3f173;
}

.App {
  background-color: #3a054b;
  min-height: 500px;
  width: 400px;
  margin: 40px 40px;
}

#my-form  input{
  background-color: #efefef;
  border: 2px solid rgb(238, 232, 232);
  border-radius: 10px;
  width: 200px;
  height: 40px;
  padding: 0 20px;
  margin: 20px 10px;
  color: #000;
  font-weight: 500;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  outline: none;
}

#my-form input::placeholder {
  color: #000;
}

#my-form button {
  background-color: #a4f60c;
  border-radius: 5px;
  height: 40px;
  width: 70px;
  padding: 5px 5px;
  font-weight: 700;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #000;
  outline: none;
  cursor: pointer;
}